h3, button{
    display:inline-block;
    vertical-align: middle;
}
label, input {
    display:block;
}
.container{
    border:2px solid red;
    width:300px;
    margin-bottom:15px;
}
.custom0 {
    background-color:rgb(32,37,41);
    color:white;

}
button {
    margin:10px 0px;
}
